name: Pull Request CI

on: 
  pull_request:
    branches: 
      - master

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
    - run: | 
        npm ci
        npm run lint

  build:
    needs: lint
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: 
        # - 8.x
        # - 10.x
        - 12.x
        - 13.x
        - 14.x
        - 15.x
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm test
      env:
        CI: true

  merge: 
    needs: build
    if: github.actor == 'phish108' ||  startsWith(github.actor, 'dependabot')
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: check hold
      id: release
      uses: phish108/release-check@1.0.11
      with: 
        protected-paths: |
          README.md
          .eslintrc
          .gitattributes

    - name: automerge
      uses: "pascalgn/automerge-action@v0.13.0"
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        MERGE_LABELS: ""

    - name: trigger release activity
      uses: actions/github-script@v3
      if: ${{ steps.release.outputs.proceed == 'true' }}
      with:
        github-token: ${{ secrets.TRIGGER_TOKEN }}
        script: |
          core.info("release via release activity")
          await github.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/heads/master",
              workflow_id: "release.yml"
          })

    - name: No Release required
      run: echo 1
      if: ${{ steps.release.outputs.proceed != 'true' }}
        
